
.tarjeta {
    background-color: #e9ec39;
    /* background-image: url('../../img/fondotarjeta.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    text-align: center;
    transition: transform 0.3s;
    width: 200px;
    position: relative;
}

.tarjeta:hover {
    transform: scale(1.06);
}

.tarjeta-h2 {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(139, 29, 29);
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.tarjeta img {
    position: relative;
    top: 30px;
    
    max-width: 80%;
    max-height: 80%;
    
}