  /* Estilos para el Navbar */
  .navbar {
      max-width: 100%;
      height: 13vh;
      margin: 0 auto;
      /* background-image: url('/src/img/fondo.jpg'); */
      background-color: black;
      display: flex;
      justify-content: end;
      align-items: center;
  }
    
  .logo-nav img{
    width: 7.5rem;
    animation: moveLogoRight 10s linear infinite;
    position: relative;
    right: 83rem; 
    z-index: 99;
    
  }

  @keyframes moveLogoRight {
    0%{
      transform: translateX(-42px); /* Empieza fuera del nav en la izquierda */
    }
    100% {
      transform: translateX(1900px); /* Llega al otro extremo del nav en la derecha */
    }
  }


    
    /* Estilos para la lista de elementos de navegación */
    .navbar-list {
      list-style: none; /* Elimina los puntos de lista */
      margin: 0;
      padding: 0;
      display: flex; /* Mostrar elementos en línea horizontalmente */
    }
    
    /* Estilos para los elementos de navegación */
    .navbar-item {
      margin-right: 3rem; /* Espacio entre elementos */
      cursor: pointer; /* Cambia el cursor al pasar el mouse */
      transition: transform 0.3s, box-shadow 0.3s; /* Transiciones para los efectos */
      font-size: 1.7rem;
    }

    .navbar-item:hover{
      background-color: #f1dc1c; /* Cambia el color de fondo al pasar el mouse */
      transform: translateY(-8px); /* Efecto 3D: desplaza hacia arriba */
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Efecto de sombra */
    }
    
    /* Estilos para los enlaces de navegación */
    .navbar-link {
      color: #fff; /* Color del texto */
      text-decoration: none; /* Eliminar subrayado enlaces */
      transition: color 0.3s; /* Transición para el cambio de color al pasar el mouse */
    }
    
  
    
    